@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: gainsboro;
  background-image: url(../images/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#2196f3), to(#e91e63));
  background: linear-gradient(#2196f3, #e91e63);
  -webkit-clip-path: circle(50% at right 80%);
          clip-path: circle(50% at right 80%);
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#2196f3), to(#f0f));
  background: linear-gradient(#2196f3, #f0f);
  -webkit-clip-path: circle(30% at 10% 10%);
          clip-path: circle(30% at 10% 10%);
}

header {
  z-index: 10;
  margin-top: 20px;
  position: fixed;
  top: -20px;
  right: 20px;
  left: 20px;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header .logo {
  color: black;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  margin-bottom: 15px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  list-style: none;
  margin: 0 10px 10px;
}

header ul li a {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
  color: black;
  padding: 8px 15px;
  border-radius: 25px;
}

header ul li a:hover {
  background: rgba(30, 144, 255, 0.3);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: white;
}

header ul li a.active {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 500;
  color: white;
}

header button {
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

header button:hover {
  background: rgba(255, 255, 255, 0.2);
}

section {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 5;
}

section .glass-menu {
  position: fixed;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  width: 0%;
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .glass-menu ul {
  display: none;
}

section.active .glass-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.active .glass-menu ul {
  display: block;
  list-style: none;
  margin-bottom: 100px;
}

section.active .glass-menu ul li {
  font-size: 1.5em;
  margin: 40px 0;
  text-align: center;
}

section.active .glass-menu ul li a {
  background: rgba(212, 157, 157, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
  color: black;
  padding: 8px 15px;
  border-radius: 25px;
}

section.active .glass-menu ul li a:hover {
  background: rgba(30, 144, 255, 0.3);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: white;
}

section.active .glass-menu ul li a.active {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 900;
  color: white;
}

.big-background {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.big-background img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.informative-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  z-index: 5;
}

.informative-card .glass-container {
  position: relative;
  width: calc(100% - 100px);
  min-height: calc(100vh - 280px);
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.informative-card .glass-container .content {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  max-width: 700px;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px;
  padding-left: 110px;
}

.informative-card .glass-container .content h2 {
  font-size: 3em;
  margin-bottom: 10px;
  color: black;
}

.informative-card .glass-container .content p {
  font-size: 1.2em;
  color: black;
}

.informative-card .glass-container .content a {
  display: inline-block;
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 500;
  color: black;
  margin-top: 20px;
  border-radius: 30px;
  font-size: 1.2em;
  text-decoration: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.informative-card .glass-container .content a:hover {
  background: rgba(30, 144, 255, 0.4);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.informative-card .glass-container .side-box {
  margin-right: 300px;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
}

.informative-card .glass-container .side-box ul {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.informative-card .glass-container .side-box ul li {
  background: whitesmoke;
  margin-bottom: 20px;
}

.informative-card .glass-container .side-box ul li a button {
  font-size: 3em;
}

.informative-card .glass-container .side-box .whatsapp {
  border: 3px solid green;
  border-radius: 15px;
}

.informative-card .glass-container .side-box .mail {
  border: 3px solid blue;
  border-radius: 15px;
}

.small-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
}

.small-container .small-card {
  position: relative;
  width: 360px;
  height: 200px;
  margin: 30px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.small-container .small-card img {
  height: 236px;
  width: 335px;
}

.small-container .small-card .content {
  padding: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
}

.small-container .small-card .content h2 {
  text-align: center;
}

.small-container .small-card .content img {
  width: 32px;
  height: 32px;
}

.small-container .small-card .content ul {
  list-style: none;
  list-style-type: none;
  color: black;
  line-height: 3.8;
  font-weight: 600;
}

.small-container .small-card .content ul a {
  color: black;
}

.small-container .small-card .content ul a:hover {
  color: teal;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
  margin: auto;
}

.container .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.container .card .content {
  padding: 20px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .content h2 {
  font-size: 1.8em;
  margin-bottom: 30px;
  color: black;
  z-index: 1;
}

.container .card .content p {
  font-size: 1em;
  color: black;
  font-weight: 600;
  line-height: 1.8;
  margin-bottom: 20px;
}

.container .card .content ul {
  list-style: none;
  color: black;
  line-height: 3.8;
}

.container .card .content img {
  width: 128px;
  height: 128px;
}

.container .big-card {
  position: relative;
  width: 560px;
  height: 400px;
  margin: 30px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.container .big-card .gallery img {
  width: 560px;
  height: 400px;
  opacity: 0.95;
}

.section-title-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
  margin: auto;
}

.section-title-container .section-title-card {
  position: relative;
  width: 500px;
  height: auto;
  margin: 30px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.section-title-container .section-title-card .content {
  padding: 20px;
  text-align: center;
  -webkit-transition: 1.0s;
  transition: 1.0s;
  margin-top: 10px;
}

.section-title-container .section-title-card .content h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: black;
  z-index: 1;
}

.first {
  margin-top: 100px;
}

@media (max-width: 800px) {
  header ul {
    display: none;
  }
  header button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .informative-card .glass-container {
    width: 100%;
  }
  .informative-card .glass-container .content {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media (max-width: 930px) {
  .informative-card {
    z-index: 5;
  }
  .informative-card .glass-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .informative-card .glass-container .side-box {
    margin-right: 0;
  }
}

@media (min-width: 801px) {
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header button {
    display: none;
  }
  section .glass-menu {
    display: none;
  }
  section.active .glass-menu {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */