@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
$content-color: black; 
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
body{
    background-color: gainsboro;
    background-image: url(../images/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::before{
    content: "";
    position: fixed;
    top:0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63); 
    clip-path: circle(50% at right 80%);
}
body::after{
    content: "";
    position: fixed;
    top:0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #f0f); 
    clip-path: circle(30% at 10% 10%);
}
header{
    z-index: 10;
    margin-top: 20px;
    position: fixed;
    top: -20px; 
    right: 20px; 
    left: 20px; 
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25); 
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);  
    .logo{
        color: black; 
        font-weight: 700;
        font-size: 2em;
        text-decoration: none;
        margin-bottom: 15px;
    } 
    ul{
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        li{
            list-style: none;
            margin: 0
            10px 10px; 
            a{
                background: rgba(255,255,255, 0.2);
                backdrop-filter: blur(10px);
                border: 1px solid rgba(255, 255, 255, 0.25); 
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                text-decoration: none;
                font-weight: 500;
                font-size: 1.2em;
                color: black; 
                padding: 8px 15px;
                border-radius: 25px;
            }
            a:hover{
                background: rgba(30, 144, 255, 0.3);
                box-shadow: 0 5px 10px rgba(0,0,0,0.1);
                color: white;
            }
            a.active{
                background: rgba(0,0, 0, 0.7); 
                border-radius: 20px;
                backdrop-filter: blur(10px);
                border: 1px solid rgba(255, 255, 255, 0.25); 
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                font-weight: 500;
                color: white;
            }
        }
    }
    button{
        background: rgba(0,0,0,0); 
        cursor: pointer;
        border: none; 
        border-radius: 20px;
    }
    button:hover{
        background: rgba(255, 255, 255, 0.2); 
    }
}
.glass-section{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 5;
    .glass-menu{
        position: fixed;
        transition: 2s;
        transition-delay: 0s;
        width: 0%;
        min-height: 100vh;
        background: rgba(255, 255, 255, 1); 
        backdrop-filter: blur(20px);
        z-index: 5;
        display: flex;
        ul{
            display: none;
        }
    }
}
.glass-section.active{
    .glass-menu{
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap; 
        justify-content: center;
        align-content: center;
        align-items: center;
        ul{
            display: block;
            list-style: none;
            margin-bottom: 100px;
            li{
                font-size: 1.5em;
                margin: 40px 0; 
                text-align: center;
                a{
                    background: rgba(212, 157, 157, 0.2);
                    backdrop-filter: blur(10px);
                    border: 1px solid rgba(255, 255, 255, 0.25); 
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                    border-left: 1px solid rgba(255, 255, 255, 0.5);
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 1.2em;
                    color: black; 
                    padding: 8px 15px;
                    border-radius: 25px;
                }
                a:hover{
                    background: rgba(30, 144, 255, 0.3);
                    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
                    color: white;
                }
                a.active{
                    background: rgba(0,0, 0, 0.7); 
                    border-radius: 20px;
                    backdrop-filter: blur(10px);
                    border: 1px solid rgba(255, 255, 255, 0.25); 
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                    border-left: 1px solid rgba(255, 255, 255, 0.5);
                    font-weight: 900;
                    color: white;
                }
            }
        }
    }
}
.big-background{
    position: relative;
    z-index: 1;
    display: flex;
    overflow: hidden;
    img{
        width: 100vw; 
        height: 100vh;
        object-fit: cover;
        overflow: hidden;
    }
}
.informative-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px; 
    z-index: 5;
    .glass-container{
        position: relative;
        width: calc(100% - 100px); 
        min-height: calc(100vh - 280px); 
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 15px 35px rgba(0, 0, 0,0.05);
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 50px; 
        
        .content{
            transform: translateX(-100px);
            max-width: 700px;
            box-shadow: 0 15px 30px rgba(0,0,0,0.1);
            border-radius: 20px;
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255,255,255, 0.25); 
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            padding: 40px; 
            padding-left: 110px; 
            h2{
                font-size: 3em;
                margin-bottom: 10px;
                color: $content-color; 
            }
            p{
                font-size: 1.2em;
                color: $content-color;
                line-height: 1.8;  
            }
            a{
                display: inline-block;
                padding: 15px 30px;
                background: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(10px);
                border: 1px solid rgba(255, 255, 255, 0.25); 
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                font-weight: 500;
                color: $content-color;
                margin-top: 20px;
                border-radius: 30px;
                font-size: 1.2em;
                text-decoration: none;
                box-shadow: 0 5px 10px rgba(0,0,0,0.1);
            }
            a:hover{
                background: rgba(30, 144, 255, 0.4);
                box-shadow: 0 5px 10px rgba(0,0,0,0.1);
                color: white;
            }
        }
        .side-box{
            margin-right: 300px;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
            ul{
                border: none;
                display: flex; 
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 0;
                list-style: none;
                li{
                    background: whitesmoke;
                    margin-bottom: 20px;
                    a{
                        button{
                            font-size: 3em;
                        }
                    }
                }
            }
            .whatsapp{
                border: 3px solid green;
                border-radius: 15px;
            }
            .mail{
                border: 3px solid blue;
                border-radius: 15px;
            }
        }
        .image-box{
            animation: heavy-bounce 4s infinite alternate;
            margin-right: 200px;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.25); 
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
        }
    }
}
.side-box{
    margin-top: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-items: center;
    justify-content: center;

    ul{
        border: none;
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            background: whitesmoke;
            margin-bottom: 20px;
            margin-right: 20px;
            a{
                button{
                    font-size: 3.0em;
                }
            }
        }
    }
    .whatsapp{
        border: 3px solid green;
        border-radius: 15px;
    }
    .mail{
        border: 3px solid blue;
        border-radius: 15px;
    }
}
.contact-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    min-height: 100vh;
    position: relative;
    padding-top: 250px;
    padding-bottom: 200px;
    z-index: 5;
    width: 100%;
    .form-container{
        position: relative;
        width: 100%;
        max-width: 1000px;
        padding: 50px;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 25px 45px rgba(0,0,0,0.25);
        border: 1px solid rgba(255, 255, 255, 0.30);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        overflow: hidden;
        backdrop-filter: blur(25px);
    }
    .form-container::before{
        content: "";
        position: absolute;
        top: 0; 
        left: -40%;
        width: 100%; 
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        transform: skewX(-15deg);
        pointer-events: none;
    }
    h2{
        width: 100%;
        text-align: center;
        font-size: 3.5em;
        margin-bottom: 20px;
    }
    .row100{
        position: relative; 
        width: 100%; 
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        .column{
            position: relative;
            width: 100%; 
            padding: 0 10px; 
            margin: 30px 0 20px;
            .input-box{
                position: relative;
                width: 100%;
                height: 40px;
                color: black;
                input, textarea{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    box-shadow: none;
                    border: none; 
                    outline: none;
                    font-size: 1.1em;
                    padding: 0 10px;
                    z-index: 1;
                    color: black;
                }
                .text{
                    position: absolute;
                    top: 0; 
                    left: 0; 
                    line-height: 40px;
                    font-size: 1.3em;
                    padding: 0 10px;
                    display: block;
                    transition: 0.5s; 
                    pointer-events: none;
                }
                .text.filled{
                    top: -35px; 
                    left: -10px; 
                }
                input:focus + .text, input:valid + .text{
                    top: -35px; 
                    left: -10px; 
                }
                .line{
                    position: absolute; 
                    bottom: 0;
                    display: block;
                    width: 100%; 
                    height: 2px; 
                    background: white; 
                    transition: 0.5s;
                    border-radius: 2px;
                    pointer-events: none;
                }
                .line.filled{
                    height: 100%;
                }
                input:focus ~ .line, input:valid ~ .line {
                    height: 100%; 
                }
                textarea:focus + .text, textarea:valid + .text{
                    top: -35px; 
                    left: -10px; 
                }
                textarea:focus ~ .line, textarea:valid ~ .line {
                    height: 100%; 
                }
            }
            .input-box.text-area{
                position: relative;
                width: 100%; 
                height: 100px; 
                padding: 10px 0; 
            }
            .submit{
                border: none; 
                padding: 10px 40px; 
                cursor: pointer;
                outline: none;
                font-weight: 600;
            }
        }
    }
}

.card-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    z-index: 5; 
    margin: auto;
    width: 100%;
    overflow: hidden;
    .small-card{
        position: relative;
        width: 360px;
        height: 200px;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.1);
        overflow: hidden;
        justify-content: flex-start;
        align-items: flex-start;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-left: 1px solid rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        img{
            height: 236px;
            width: 335px;
        }
        .content{
            padding: 20px;
            transition: 0.5s;
            color: black;
            h2{
                text-align: center;
            }
            img{
                width: 32px;
                height: 32px;
            }
            ul{
                color: black;
                line-height: 2;
                font-weight: 600;
                list-style: circle;
                text-align: left;
                a{
                    color: black; 
                }
                a:hover{
                    color:teal;  
                }
            }
        }
    }
    .card{
        position: relative;
        width: 280px;
        height: 400px;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px);
        overflow: hidden;
        justify-content: flex-start;
        align-items: flex-start;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(15px);
        .content{
            padding: 20px;
            transition: 0.5s;
            h2{
                font-size: 1.8em;
                margin-bottom: 30px;
                color: black;
                z-index: 1;
                text-align: center;
            }
            p{
                font-size: 1em;
                color: black;
                font-weight: 600;
                line-height: 1.8;
                margin-bottom: 20px;
            }
            ul{
                color: black;
                line-height: 2;
                text-align: left;
                li{
                    text-align: left;
                }
            }
            img{
                width: 128px; 
                height: 128px;
                margin-left: 50px; 
            }
        }
    }
    .big-card{
        position: relative;
        width: 560px;
        height: 400px;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.1);
        overflow: hidden;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-left: 1px solid rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        .gallery{
            img{
                width: 560px;
                height: 400px;
                opacity: 0.95; 
            }
        }
    }
}
.section-title-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1; 
    margin: auto;
    .section-title-card{
        position: relative;
        width: 500px;
        height: auto;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.1);
        overflow: hidden;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-left: 1px solid rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        .content{
            padding: 20px;
            text-align: center;
            transition: 1.0s;
            margin-top: 10px;
            h1{
                font-size: 2.5em;
                margin-bottom: 30px;
                color: black;
                z-index: 1;
            }
        }
    }
}

.first{
    margin-top: 100px;
}

@media (max-width: 800px){
    header{
        ul{
            display: none;
        }
        button{
            display: flex;
        }
    }
    .informative-card{
        .glass-container{
            width: 100%;
            .content{
                transform: translateX(0px);
                padding: 0;
                display: flex;
                align-items: center;
                flex-direction: column;
                h2{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
                a{
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
@media(max-width: 930px){
    .informative-card{
        z-index: 5;
        .glass-container{
            flex-direction: column-reverse;
            .side-box{
                margin-right: 0;
            }
        }
    }
}
@media (min-width: 801px){
    header{
        ul{
            display: flex;
        }
        button{
            display: none;
        }
    }
    section{
        .glass-menu{
            display: none;
        }
    }
    section.active{
        .glass-menu{
            display: none;
        }
    }
}
@media (max-width: 390px){
    .contact-section{
        h2{
            font-size: 2em;
        }
    }
}
@keyframes heavy-bounce{
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(-20px);
    }
}