@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
$content-color: black; 
$gicondo-blue-transparent: rgba(30, 144, 255, 0.4);
$gicondo-blue: rgb(30, 144, 255);
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
body{
    background-color: gainsboro;
    background-image: url(../images/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::before{
    content: "";
    position: fixed;
    top:0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63); 
    clip-path: circle(50% at right 80%);
}
body::after{
    content: "";
    position: fixed;
    top:0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #f0f); 
    clip-path: circle(30% at 10% 10%);
}
header.info{
    z-index: 10;
    margin-top: 20px;
    position: fixed;
    top: -10px; 
    right: 20px; 
    left: 20px; 
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25); 
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5); 
    .logo{
        img{
            width: auto;
            height: 64px;
        }
    } 
    ul{
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
        li{
            list-style: none;
            margin-right: 10px;
            a{
                background: rgba(255,255,255, 0.2);
                backdrop-filter: blur(10px);
                border: 1px solid rgba(255, 255, 255, 0.25); 
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                text-decoration: none;
                font-weight: 500;
                font-size: 1.2em;
                color: black; 
                padding: 8px 15px;
                border-radius: 15px;
            }
            a:hover{
                background: $gicondo-blue-transparent;
                box-shadow: 0 5px 10px rgba(0,0,0,0.1);
                color: black;
            }
            a.active{
                background: rgba(0,0, 0, 0.7); 
                border-radius: 15px;
                backdrop-filter: blur(10px);
                border: 1px solid rgba(255, 255, 255, 0.25); 
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                font-weight: 500;
                color: white;
            }
        }
    }
}
header.index{
    z-index: 10;
    width: 50%;
    margin-top: 20px;
    position: fixed;
    top: -10px; 
    right: 20px; 
    left: 20px; 
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25); 
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5); 
    .logo{
        img{
            width: auto;
            height: 64px;
        }
    } 
}
header.index.right{
    left: calc(50% - 10px);
}
.toggle{
    position: relative;
    cursor: pointer;
    width: 64px; 
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    span{
        position: absolute;
        width: 40px;
        height: 4px;
        background: black;
        border-radius: 4px;
        transition: 0.5s;
    }
    span:nth-child(1){
        transform: translateY(-15px);
        width: 25px;
        left: 15px;
    }
    span:nth-child(2){
        transform: translateY(15px);
        width: 25px;
        left: 15px;
    }
}
.toggle.active{
    span:nth-child(1){
        width: 40px;
        transform: translateY(0px) rotate(45deg);
    }
    span:nth-child(2){
        width: 40px;
        transform: translateY(0px) rotate(315deg);
    }
    span:nth-child(3){
        transform: translateX(60px);
    }
}
.sidebar{
    z-index: 20;
    position: fixed;
    background-color: white;
    height: 100%;
    transform: translate(-300px);
    transition: 1s;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    ul{
        list-style: none;
        margin-right: 35px;
        li{
            a{
                color: black;
                font-size: 2em;
                line-height: 2;
                text-decoration: none;
            }
            a:hover{
                color: $gicondo-blue;
            }
            
        }
    }
}
.sidebar.active{
    transform: translate(0);
}
.information-section{
    min-height: 100vh;
    position: relative;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr;
    z-index: 5;
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px;
        .text{
            color: black;
            h1{
                margin-top: 100px;
                margin-bottom: 10px;
                font-size: 4em;
                text-align: left;
            }
            li{
                margin-bottom: 10px;
            }
            p{
                font-size: 1.2em;
                line-height: 1.5;
                margin-bottom: 10px;
            }
            .button{
               display: inline-block;
               text-decoration: none;
               font-size: 1.2em;
               margin-top: 20px;
               color: black;
               font-weight: 500;
               border: 2px solid black;
               padding: 10px 30px;
               letter-spacing: 1px; 
            }
            .button:hover{
                background: black;
                color: white;
                letter-spacing: 2px;
            }
        }
        
        
    }
    .glass-container{
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .content{
            border-radius: 20px;
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.25);
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            padding: 43px;
            padding-left: 110px;
            display: flex;
            flex-direction: column;
            backdrop-filter: blur(10px);
            margin: 20px;
            margin-top: 150px;
            h2{
                font-size: 3.5em;
                margin-bottom: 10px;
                color: $content-color; 
            }
            h4{
                font-size: 2em;
            }
            p{
                font-size: 1.2em;
                color: $content-color;
                line-height: 1.8;  
            }
            a{
                display: inline-block;
                padding: 15px 30px;
                background: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(10px);
                border: 1px solid rgba(255, 255, 255, 0.25); 
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                font-weight: 500;
                color: $content-color;
                margin-top: 20px;
                border-radius: 30px;
                font-size: 1.2em;
                text-decoration: none;
                box-shadow: 0 5px 10px rgba(0,0,0,0.1);
            }
            a:hover{
                background: rgba(30, 144, 255, 0.4);
                box-shadow: 0 5px 10px rgba(0,0,0,0.1);
                color: white;
            }
        }
        .side-box{
            margin-top: 20px;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
            display: flex;
            justify-items: center;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            z-index: 30;
            .box{
                position: relative;
                width: 300px;
                height: 300px; 
                margin: 30px; 
                box-shadow: 0px 30px 50px rgba(0,0,0,0.05);
                background: whitesmoke;
                border-radius: 20px;
                overflow: hidden;
                .img-box{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%; 
                    height: 100%; 
                    display: flex; 
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s;
                    transform: scale(1) translateY(0);
                    img{
                        max-width: 128px;
                    }
                }
                .content{
                    position: relative;
                    top: 0; 
                    left: 0; 
                    width: 100%; 
                    height: 100%; 
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    flex-direction: column;
                    transition: 0.5s;
                    transform: scale(1) translateY(calc(100% - 8px)); 
                    .icon{
                        img{
                            height: 80px;
                            width: 80px;
                            filter: invert(1);
                        }
                    }
                    h3{
                        color: white;
                        text-transform: uppercase;
                        font-size: 1.50em;
                        margin-top: 20px;
                    }
                    h4{
                        color: white; 
                        font-size: 1.3em;
                        font-weight: 200;
                    }
                }
                .content.whatsapp{
                    background: green;
                }
                .content.mail{
                    background: blue;
                }
            }
            .box:hover{
                .img-box{
                    transform: scale(0) translateY(100px);
                }
                .content{
                    transform: scale(1);
                }
            }
        }
    }
    .images{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        .img-box{
            position: relative;
            width: 100%;
            height: 100%;
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .img-box:last-child{
            width: 100%;
        }
    }
    .images-vertical{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100vh;
        .img-box{
            position: relative;
            width: 50%;
            height: 50vh;
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .img-box:first-child{
            height: 100vh;
        }
    }
}
.glass-section{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 5;
    .glass-menu{
        position: fixed;
        transition: 2s;
        transition-delay: 0s;
        width: 0%;
        min-height: 100vh;
        background: rgba(255, 255, 255, 1); 
        backdrop-filter: blur(20px);
        z-index: 5;
        display: flex;
        ul{
            display: none;
        }
    }
}
.glass-section.active{
    .glass-menu{
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap; 
        justify-content: center;
        align-content: center;
        align-items: center;
        ul{
            display: block;
            list-style: none;
            margin-bottom: 100px;
            li{
                font-size: 1.5em;
                margin: 40px 0; 
                text-align: center;
                a{
                    background: rgba(212, 157, 157, 0.2);
                    backdrop-filter: blur(10px);
                    border: 1px solid rgba(255, 255, 255, 0.25); 
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                    border-left: 1px solid rgba(255, 255, 255, 0.5);
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 1.2em;
                    color: black; 
                    padding: 8px 15px;
                    border-radius: 25px;
                }
                a:hover{
                    background: rgba(30, 144, 255, 0.3);
                    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
                    color: white;
                }
                a.active{
                    background: rgba(0,0, 0, 0.7); 
                    border-radius: 20px;
                    backdrop-filter: blur(10px);
                    border: 1px solid rgba(255, 255, 255, 0.25); 
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                    border-left: 1px solid rgba(255, 255, 255, 0.5);
                    font-weight: 900;
                    color: white;
                }
            }
        }
    }
}
.big-background{
    position: relative;
    z-index: 1;
    display: flex;
    overflow: hidden;
    img{
        width: 100vw; 
        height: 75vh;
        object-fit: cover;
        overflow: hidden;
    }
}
.informative-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px; 
    z-index: 5;
    .glass-container{
        position: relative;
        width: calc(100% - 100px); 
        min-height: calc(100vh - 280px); 
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 15px 35px rgba(0, 0, 0,0.05);
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 50px; 
        
        .content{
            transform: translateX(-100px);
            max-width: 700px;
            box-shadow: 0 15px 30px rgba(0,0,0,0.1);
            border-radius: 20px;
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255,255,255, 0.25); 
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            padding: 40px; 
            padding-left: 110px; 
            h2{
                font-size: 3.5em;
                margin-bottom: 10px;
                color: $content-color; 
            }
            h4{
                font-size: 2em;
            }
            p{
                font-size: 1.2em;
                color: $content-color;
                line-height: 1.8;  
            }
            a{
                display: inline-block;
                padding: 15px 30px;
                background: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(10px);
                border: 1px solid rgba(255, 255, 255, 0.25); 
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                font-weight: 500;
                color: $content-color;
                margin-top: 20px;
                border-radius: 30px;
                font-size: 1.2em;
                text-decoration: none;
                box-shadow: 0 5px 10px rgba(0,0,0,0.1);
            }
            a:hover{
                background: rgba(30, 144, 255, 0.4);
                box-shadow: 0 5px 10px rgba(0,0,0,0.1);
                color: white;
            }
        }
        .side-box{
            margin-top: 20px;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
            display: flex;
            justify-items: center;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .box{
                position: relative;
                width: 300px;
                height: 300px; 
                margin: 30px; 
                box-shadow: 0px 30px 50px rgba(0,0,0,0.05);
                background: whitesmoke;
                border-radius: 20px;
                overflow: hidden;
                .img-box{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%; 
                    height: 100%; 
                    display: flex; 
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s;
                    transform: scale(1) translateY(0);
                    img{
                        max-width: 128px;
                    }
                }
                .content{
                    position: relative;
                    top: 0; 
                    left: 0; 
                    width: 100%; 
                    height: 100%; 
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    flex-direction: column;
                    transition: 0.5s;
                    transform: scale(1) translateY(calc(100% - 8px)); 
                    .icon{
                        img{
                            height: 80px;
                            width: 80px;
                            filter: invert(1);
                        }
                    }
                    h3{
                        color: white;
                        text-transform: uppercase;
                        font-size: 1.50em;
                        margin-top: 20px;
                    }
                    h4{
                        color: white; 
                        font-size: 1.3em;
                        font-weight: 200;
                    }
                }
                .content.whatsapp{
                    background: green;
                }
                .content.mail{
                    background: blue;
                }
            }
            .box:hover{
                .img-box{
                    transform: scale(0) translateY(100px);
                }
                .content{
                    transform: scale(1);
                }
            }
        }
        .image-box{
            animation: heavy-bounce 4s infinite alternate;
            margin-right: 200px;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.25); 
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
        }
    }
}
.side-box{
    margin-top: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .box{
        position: relative;
        width: 300px;
        height: 300px; 
        margin: 30px; 
        box-shadow: 0px 30px 50px rgba(0,0,0,0.05);
        background: whitesmoke;
        border-radius: 20px;
        overflow: hidden;
        .img-box{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%; 
            height: 100%; 
            display: flex; 
            justify-content: center;
            align-items: center;
            transition: 0.5s;
            transform: scale(1) translateY(0);
            img{
                max-width: 128px;
            }
        }
        .content{
            position: relative;
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100%; 
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            transition: 0.5s;
            transform: scale(1) translateY(calc(100% - 8px)); 
            .icon{
                img{
                    height: 80px;
                    width: 80px;
                    filter: invert(1);
                }
            }
            h3{
                color: white;
                text-transform: uppercase;
                font-size: 1.50em;
                margin-top: 20px;
            }
            h4{
                color: white; 
                font-size: 1.3em;
                font-weight: 200;
            }
        }
        .content.whatsapp{
            background: green;
        }
        .content.mail{
            background: blue;
        }
    }
    .box:hover{
        .img-box{
            transform: scale(0) translateY(100px);
        }
        .content{
            transform: scale(1);
        }
    }
}
.contact-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    min-height: 100vh;
    position: relative;
    padding-top: 100px;
    padding-bottom: 200px;
    z-index: 5;
    width: 100%;
    .form-container{
        position: relative;
        width: 100%;
        max-width: 1000px;
        padding: 50px;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 25px 45px rgba(0,0,0,0.25);
        border: 1px solid rgba(255, 255, 255, 0.30);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        overflow: hidden;
        backdrop-filter: blur(25px);
    }
    .form-container::before{
        content: "";
        position: absolute;
        top: 0; 
        left: -40%;
        width: 100%; 
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        transform: skewX(-15deg);
        pointer-events: none;
    }
    h2{
        width: 100%;
        text-align: center;
        font-size: 3.5em;
        margin-bottom: 20px;
    }
    .row100{
        position: relative; 
        width: 100%; 
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        .column{
            position: relative;
            width: 100%; 
            padding: 0 10px; 
            margin: 30px 0 20px;
            .input-box{
                position: relative;
                width: 100%;
                height: 40px;
                color: black;
                input, textarea{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    box-shadow: none;
                    border: none; 
                    outline: none;
                    font-size: 1.1em;
                    padding: 0 10px;
                    z-index: 1;
                    color: black;
                }
                .text{
                    position: absolute;
                    top: 0; 
                    left: 0; 
                    line-height: 40px;
                    font-size: 1.3em;
                    padding: 0 10px;
                    display: block;
                    transition: 0.5s; 
                    pointer-events: none;
                }
                .text.filled{
                    top: -35px; 
                    left: -10px; 
                }
                input:focus + .text, input:valid + .text{
                    top: -35px; 
                    left: -10px; 
                }
                .line{
                    position: absolute; 
                    bottom: 0;
                    display: block;
                    width: 100%; 
                    height: 2px; 
                    background: white; 
                    transition: 0.5s;
                    border-radius: 2px;
                    pointer-events: none;
                }
                .line.filled{
                    height: 100%;
                }
                input:focus ~ .line, input:valid ~ .line {
                    height: 100%; 
                }
                textarea:focus + .text, textarea:valid + .text{
                    top: -35px; 
                    left: -10px; 
                }
                textarea:focus ~ .line, textarea:valid ~ .line {
                    height: 100%; 
                }
            }
            .input-box.text-area{
                position: relative;
                width: 100%; 
                height: 100px; 
                padding: 10px 0; 
            }
            .submit{
                border: none; 
                padding: 10px 40px; 
                cursor: pointer;
                outline: none;
                font-weight: 600;
            }
        }
    }
}

.card-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    z-index: 5; 
    margin: auto;
    width: 100%;
    overflow: hidden;
    .small-card{
        position: relative;
        width: 360px;
        height: 200px;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.1);
        overflow: hidden;
        justify-content: flex-start;
        align-items: flex-start;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-left: 1px solid rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        img{
            height: 236px;
            width: 335px;
        }
        .content{
            padding: 20px;
            transition: 0.5s;
            color: black;
            h2{
                text-align: center;
            }
            img{
                width: 32px;
                height: 32px;
            }
            ul{
                color: black;
                line-height: 2;
                font-weight: 600;
                list-style: circle;
                text-align: left;
                a{
                    color: black; 
                }
                a:hover{
                    color:teal;  
                }
            }
        }
    }
    .card{
        position: relative;
        width: 280px;
        height: 400px;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px);
        overflow: hidden;
        justify-content: flex-start;
        align-items: flex-start;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(15px);
        .content{
            padding: 20px;
            transition: 0.5s;
            h2{
                font-size: 1.8em;
                margin-bottom: 30px;
                color: black;
                z-index: 1;
                text-align: center;
            }
            p{
                font-size: 1em;
                color: black;
                font-weight: 600;
                line-height: 1.8;
                margin-bottom: 20px;
            }
            ul{
                color: black;
                line-height: 2;
                text-align: left;
                li{
                    text-align: left;
                }
            }
            img{
                width: 128px; 
                height: 128px;
                margin-left: 50px; 
            }
        }
    }
    .big-card{
        position: relative;
        width: 560px;
        height: 400px;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.1);
        overflow: hidden;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-left: 1px solid rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        .gallery{
            img{
                width: 560px;
                height: 400px;
                opacity: 0.95; 
            }
        }
    }
}
.section-title-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1; 
    margin: auto;
    .section-title-card{
        position: relative;
        width: 500px;
        height: auto;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.1);
        overflow: hidden;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-left: 1px solid rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        .content{
            padding: 20px;
            text-align: center;
            transition: 1.0s;
            margin-top: 10px;
            h1{
                font-size: 2.5em;
                margin-bottom: 30px;
                color: black;
                z-index: 1;
            }
        }
    }
}

.first{
    margin-top: 100px;
}
@media (max-width: 1240px){
    header.info{
        ul{
            display: none;
        }
        .toggle{
            display: flex;
        }
    }
}
@media (min-width: 1240px){
    header.info{
        ul{
            display: flex;
        }
        .toggle{
            display: none;
        }
    }
}
@media (max-width: 1000px){
    header.index{
       width: 95% 
    }
    header.index.right{
        left: 0;
    }
    .information-section{
        grid-template-columns: 1fr;
        .content{
            padding: 40px;
        }
        .one{
           grid-column: 1;
           grid-row: 1; 
        }
        .glass-container{
            .content{
                padding: 5px;
                h2{
                    font-size: 1.5em;
                    text-align: center;
                }
                p{
                    text-align: center;
                    font-size: 1em;
                }
            }
        }
    }
}
@media (max-width: 800px){
    header{
        ul{
            display: none;
        }
        button{
            display: flex;
        }
    }
    .informative-card{
        .glass-container{
            width: 100%;
            .content{
                transform: translateX(0px);
                padding: 0;
                display: flex;
                align-items: center;
                flex-direction: column;
                h2{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
                a{
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
@media (max-width: 700px){
    .information-section{
        .images{
            .img-box{
                width: 100%;
                height: 40vh;
            }
        }
    }
}
@media (max-height: 667px){
    .information-section{
        .content{
            margin-top: 150px;
            height: 100vh !important;
            .text{
                h1{
                    margin-top: 60px;
                    font-size: 1.5em;
                }
                p{
                    font-size: 1em;
                }
            }
        }
    }
    header.info{
        margin-top: 10px;
        padding: 5px;
        justify-content: space-evenly;
        .logo{
            img{
                height: 32px;
                width: auto;
            }
        }
    }
    header.index{
        margin-top: 10px;
        padding: 5px;
        justify-content: space-evenly;
        .logo{
            img{
                height: 32px;
                width: auto;
            }
        }
    }
    .toggle{
        width: 32px;
        height: 32px; 
        span{
            width: 20px;
            height: 2px;
            border-radius: 2px;
        }
        span:nth-child(1){
            transform: translateY(-8px);
            width: 12px;
            left: 8px;
        }
        span:nth-child(2){
            transform: translateY(8px);
            width: 12px;
            left: 8px;
        }
    }
    .toggle.active{
        span:nth-child(1){
            width: 20px;
            transform: translateY(0px) rotate(45deg);
        }
        span:nth-child(2){
            width: 20px;
            transform: translateY(0px) rotate(315deg);
        }
        span:nth-child(3){
            transform: translateX(30px);
        }
    }
}
@media (max-width: 500px){
    .information-section{
        .content{
            .text{
                h1{
                    margin-top: 50px;
                    font-size: 3em;
                }
            }
        }
    }
    header.info{
        margin-top: 10px;
        padding: 5px;
        justify-content: space-evenly;
        .logo{
            img{
                height: 32px;
                width: auto;
            }
        }
    }
    header.index{
        margin-top: 10px;
        padding: 5px;
        justify-content: space-evenly;
        .logo{
            img{
                height: 32px;
                width: auto;
            }
        }
    }
    .toggle{
        width: 32px;
        height: 32px; 
        span{
            width: 20px;
            height: 2px;
            border-radius: 2px;
        }
        span:nth-child(1){
            transform: translateY(-8px);
            width: 12px;
            left: 8px;
        }
        span:nth-child(2){
            transform: translateY(8px);
            width: 12px;
            left: 8px;
        }
    }
    .toggle.active{
        span:nth-child(1){
            width: 20px;
            transform: translateY(0px) rotate(45deg);
        }
        span:nth-child(2){
            width: 20px;
            transform: translateY(0px) rotate(315deg);
        }
        span:nth-child(3){
            transform: translateX(30px);
        }
    }
}
@media(max-width: 930px){
    .informative-card{
        z-index: 5;
        .glass-container{
            flex-direction: column-reverse;
            .side-box{
                margin-right: 0;
            }
        }
    }
}
@media (min-width: 801px){
    header{
        ul{
            display: flex;
        }
        button{
            display: none;
        }
    }
    section{
        .glass-menu{
            display: none;
        }
    }
    section.active{
        .glass-menu{
            display: none;
        }
    }
}
@media (max-width: 390px){
    .contact-section{
        h2{
            font-size: 2em;
        }
    }
}
@keyframes heavy-bounce{
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(-20px);
    }
}